.card-1 {
  border-top: 5px solid #ff4f64;
  border-radius: 20px;
  margin: 20px;
  width: 40%;
  text-align: left;
}

.card-2 {
  border-top: 5px solid #00a8e7;
  border-radius: 20px;
  margin: 20px;
  width: 40%;
  text-align: left;
}

.card-3 {
  border-top: 5px solid #44c4a1;
  border-radius: 20px;
  margin: 20px;
  width: 40%;
  text-align: left;
}

.card-4 {
  border-top: 5px solid #fcc200;
  border-radius: 20px;
  margin: 20px;
  width: 40%;
  text-align: left;
}

/* Write CSS code here. */
.maincontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  justify-content: center;
}
.imagebox {
  text-align: right;
}
.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}
